@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom styles with css var */
@import "./prism.css";
@import "./css-var-example.css";

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-6000 {
    animation-delay: 6s;
  }
}
